## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key= g_key)

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,72.61,75,63,9.35,broken clouds
1,1,Vanavara,RU,60.3400,102.2797,35.53,64,94,11.81,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,50.00,76,90,13.80,overcast clouds
3,3,Busselton,AU,-33.6500,115.3333,68.00,74,63,1.01,broken clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,70.99,72,3,22.75,clear sky

In [19]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [20]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,72.61,75,63,9.35,broken clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,50.00,76,90,13.80,overcast clouds
3,3,Busselton,AU,-33.6500,115.3333,68.00,74,63,1.01,broken clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,70.99,72,3,22.75,clear sky
5,5,Mitsamiouli,KM,-11.3847,43.2844,80.98,77,6,9.75,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,78.13,70,7,4.38,clear sky
9,9,Bay-Khaak,RU,51.1667,94.5000,59.50,19,64,17.40,broken clouds
10,10,Kapaa,US,22.0752,-159.3190,75.20,64,75,11.50,broken clouds
11,11,Vila Velha,BR,-20.3297,-40.2925,77.00,78,20,8.05,few clouds
12,12,Bluff,NZ,-46.6000,168.3333,60.01,78,79,5.99,broken clouds

In [21]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,72.61,broken clouds,14.8961,-24.4956,
2,Ushuaia,AR,50.00,overcast clouds,-54.8000,-68.3000,
3,Busselton,AU,68.00,broken clouds,-33.6500,115.3333,
4,Port Alfred,ZA,70.99,clear sky,-33.5906,26.8910,
5,Mitsamiouli,KM,80.98,clear sky,-11.3847,43.2844,
8,Rikitea,PF,78.13,clear sky,-23.1203,-134.9692,
9,Bay-Khaak,RU,59.50,broken clouds,51.1667,94.5000,
10,Kapaa,US,75.20,broken clouds,22.0752,-159.3190,
11,Vila Velha,BR,77.00,few clouds,-20.3297,-40.2925,
12,Bluff,NZ,60.01,broken clouds,-46.6000,168.3333,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except:
        print("Hotel not found... skipping.")    

print("------- All Done!")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
------- All Done!

In [25]:
# 7. Drop the rows where there is no Hotel Name.
is_nan = hotel_df.isnull().sum()
is_nan
new_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
new_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,72.61,broken clouds,14.8961,-24.4956,Tortuga B&B
2,Ushuaia,AR,50.00,overcast clouds,-54.8000,-68.3000,Albatros Hotel
3,Busselton,AU,68.00,broken clouds,-33.6500,115.3333,Observatory Guest House
4,Port Alfred,ZA,70.99,clear sky,-33.5906,26.8910,The Halyards Hotel
5,Mitsamiouli,KM,80.98,clear sky,-11.3847,43.2844,Foyer ADM
...,...,...,...,...,...,...,...
687,Pochutla,MX,77.00,clear sky,15.7432,-96.4661,Hotel Posada San Jose
688,Ranong,TH,78.80,scattered clouds,9.9658,98.6348,Tinidee Hotel@Ranong
689,Inhambane,MZ,62.60,mist,-23.8650,35.3833,Oceano
690,Mount Gambier,AU,62.60,overcast clouds,-37.8333,140.7667,Commodore on the Park
692,Aleksandrov Gay,RU,56.35,overcast clouds,50.1470,48.5704,Gostinitsa I.p. Yes'kov A.v

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
new_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in new_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = new_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
max_temp = new_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))